.color-boton {
  color: white;
}
.last-row {
  min-width: 40px; /* Puedes ajustar el valor según tus necesidades */
}

.text-Titulo {
  width: 500px;
  height: 100px;
  background-color: transparent; /* Puedes cambiar el color de fondo a tu gusto */
  margin-bottom: 0%;
  padding-left: 8rem;
}

.input-group-text{
  padding-top: 0% !important;
  padding-bottom: 0% !important;
  padding-left: 0% !important;
  padding-right: 0% !important;
}

.body-content-modal{
  background: var(--Degrd-4, linear-gradient(90deg, rgba(72,245,243,0.5) 13.02%, rgba(34,117,147,0.5) 66.67%,  rgba(16,6,38,0.5) 100%)) !important;
}

.img-fluid{
  max-width: 30%;
  height: auto;
}
