.color-boton {
  color: white;
}

.form-label{
  margin: 0%;
}

.text-Titulo {
  width: 400px;
  height: 80px;
  background-color: transparent; /* Puedes cambiar el color de fondo a tu gusto */
  margin-bottom: 0%;
  padding-left: 4rem;
}

.input-group-text{
  padding-top: 0% !important;
  padding-bottom: 0% !important;
  padding-left: 0% !important;
  padding-right: 0% !important;
}

.body-content-modal{
  background: var(--Degrd-4, linear-gradient(90deg, rgba(72,245,243,0.5) 13.02%, rgba(34,117,147,0.5) 66.67%,  rgba(16,6,38,0.5) 100%)) !important;
  padding: 0.3rem !important;
}

.img-fluid{
  height: 80px;
}

.iconPeligro{
  padding-left: 5rem !important ;
}

.btn-custom-color {
  background-color: #BF3030 ;
  border-color: #BF3030  ;
  color:#f2f2f2;
  padding: 12px 14px;
  margin: 0px;
}
