.color-boton {
  color: white;
}
.last-row {
  min-width: 40px; /* Puedes ajustar el valor según tus necesidades */
}

.text-Titulo {
  width: 500px;
  height: 100px;
  background-color: transparent; /* Puedes cambiar el color de fondo a tu gusto */
  border: 1px solid red !important;
}
