.height-error_component {
    height: 90vh;
}

.animate-fadeIn {
    animation: fadeIn 1s ease-in-out;
}

.animate-shakeX {
    animation: shakeX 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes shakeX {

    from,
    to {
        transform: translate3d(0, 0, 0);
    }

    25%,
    75% {
        transform: translate3d(-10px, 0, 0);
    }

    50% {
        transform: translate3d(10px, 0, 0);
    }
}