.color-fl{
    background: var(--Degrd-3, linear-gradient(90deg, rgba(16, 6, 38, 0.5)  0%, rgba(146, 58, 158, 0.5) 25%, rgba(251, 205, 153, 0.5) 50%, rgba(146, 58, 158, 0.5) 75%, rgba(16, 6, 38, 0.5) 100% ));  
}

.titulo-link {
color: #FFFFFF !important;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 10px;
}

.text-center {
    font-size: 14px;
}

.icon{
padding-top: 3px;
}

.style1 {
    opacity: 0.5;
    background: var(--Color-4, #227593);
}
.fileplaylist-item {
    margin: 5px; }


.plus-button {
    border-radius: 50% !important;
}

.bloque{
    margin-left: 75px;

}

.letras{
    margin-left: 20px;
}

.add-playlist-container{
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 10;
}

.modal-backdrop {
    z-index: 9;
}