.code-inp {
    height: 45px;
    width: 45px;
    margin: 8px;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
}

.custom-margin {
    margin-right: 5rem; 
  }
  

.code-Error{
    color:red;
    
}