.code-inp {
    height: 45px;
    width: 45px;
    margin: 8px;
    border-radius: 0.2rem;
    background: rgba(242, 242, 242, 0.15);
    color: #f2f2f2;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
}

/* .custom-margin {
    margin-right: 5rem; 
  } */
  

.code-Error{
    color:red;
    
}