.dropdown-vertical-button {
    background: transparent !important;
}

.dropdown-vertical-button:hover {
    border-color: transparent !important;
}

.Icons{
    background-color:transparent;
    border-width: 1;
    border-color: transparent;
 }

.video-elente-file{
    border-top: 8   px solid #100626; 
    border-bottom: 15px solid #100626;
    background: var(--Degrd-4, linear-gradient(90deg, rgba(72,245,243,0.5) 13.02%, rgba(34,117,147,0.5) 66.67%,  rgba(16,6,38,0.5) 100%));
}

 .imagen-personalizada {
    width: 200px;
    height: 100px; 
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border: 3px solid cadetblue;
}

.filePlayListId{
    font-size: 24px !important;
}