.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    background-color: #100626;
    flex-wrap: nowrap;
}

@media screen and (max-width: 576px) {
    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        position: fixed;
        top: 10px;
        left: 0;
        }
    .Icons-menu{
        display: none;
    }
    }

    @media screen and (max-width: 500px) {
        .navbar>.container,
        .navbar>.container-fluid,
        .navbar>.container-lg,
        .navbar>.container-md,
        .navbar>.container-sm,
        .navbar>.container-xl,
        .navbar>.container-xxl {
            position: fixed;
            top: 10px;
            left: 0;
            flex-wrap: inherit;
            }
        }

.me-2 {
    border-radius: 3rem;
    background: rgba(242, 242, 242, 0.2) !important;
}

.navbar-text-title {
    padding-left: 20px;
}

.arrow-button-navbar button {
    border-radius: 50%;
}

.arrow-button-navbar button:hover {
    border-radius: 50%;
}

.btn-outline-success {
    --bs-btn-color: #4DDAC5;
    --bs-btn-border-color: #4DDAC5;
    --bs-btn-hover-color: #f2f2f2;
    --bs-btn-hover-bg: #227593;
    --bs-btn-hover-border-color: #227593;
    --bs-btn-active-color: #f2f2f2;
    --bs-btn-active-bg: #1e6984;
    --bs-btn-active-border-color: #1e6984;
    --bs-btn-disabled-color: #227593;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #227593;
}

.custom-navbar-bg {
    background-color: #100626 !important;
    border: #227593 !important;
}

.input-container {
    position: relative;
    top: 120;
    left: 120;
    padding: 5px;

}

.Icons-menu{
    background: transparent !important;
}

.Icons {
    background: transparent !important;
    border-width: 1;
    border-color: transparent;
}

.Icons:hover {
    background-color: transparent;
    border-width: 1;
    border-color: #4DDAC5 !important;
}

