.url-text{
    color:rgba(242,242,242,0.7)!important;
    margin-bottom: 0.8rem;
}

.question-text{
    margin-bottom: 0.3rem;
    margin-top: 0.8rem;
}

.login-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/Start-space.svg");
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: left;
    z-index: 0;
}

.login-content{
    z-index: 1;
}

.login-title{
    opacity: 0%;
}

@media screen and (max-width: 912px) {
    .login-bg {
       display: none;
    }  
    .login-content{
        display: flex;
        flex-direction: column; 
    }
    .login-title{
        opacity: 100%;
        margin-bottom: 1.5rem;
    }
}

