.url-text{
    color:rgba(242,242,242,0.7)!important;
    margin-bottom: 0.8rem;
}

.question-text{
    margin-bottom: 0.3rem;
    margin-top: 0.8rem;
}

.login-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/start-space.svg);
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: left;
}

@media screen and (max-width: 768px) {
    .login-bg {
       display: none;
    }
  }
