.dropdown-menu {
    background: #2D355C !important;
}

.dropdown-button {
    background: transparent !important;  
}

.dropdown-button:hover{
    border-color: transparent !important;  
}

.heart-button {
    background: transparent !important;
}

.play-button {
    background: #4DDAC5;
    border-radius: 50%;   
}

.dropdown-item {
    color: #f2f2f2;
}

.dropdown-item:active {
    background: #227593 !important;
}

.play-button{
    border-radius: 50% !important;
}

.ms-auto.p-2 {
        margin: auto;
}

.img-thumbnail{
    background: transparent !important;
    border-color: transparent !important;
}

.color-boton{
    color: white;
}


.title-container{
    
    display: grid;
    gap: 12px;
    max-width: 100%;
    grid-template-columns: 175px 300px 1fr;
}

.title-desc-container{
    width: 100%;
}

.title-desc-container p{
    width: 100%;
    max-width: 100%;
}
.descripcion-md{
    display: none;
  }
  @media only screen and (max-width: 900px) {
    .descripcion-md  {
      display: block;
    }
  }

.descripcion-lg {
    display: block;
  }
  @media only screen and (max-width: 900px) {
    .descripcion-lg  {
      display: none;
    }
  }