.dropdown-menu {
    border-radius: 0%;
    background: #2D355C !important;
    color: #f2f2f2    
}

.dropdown-button {
    background: transparent !important;
    
}

.heart-button {
    background: transparent !important;
}

.play-button {
    background: #4DDAC5;
    border-radius: 50%;   
}

.mi-div{
    background: none;
    border: none;
}

.mi-ti{
    border: 1px solid white; 
}

.color-boton{
    color: white;
}

.titulo{
color: #FFF;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.descrip{
color: var(--White, #F2F2F2);
text-align: justify;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}