.lg-sidebar {
    display: block;
  }
  @media only screen and (max-width: 576px) {
    .lg-sidebar  {
      display: none;
    }
  }
.sm-sidebar {
    display: none;
  }
  @media only screen and (max-width: 576px) {
    .sm-sidebar  {
      display: block;
    }
  }