.home-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/Home-image.svg");
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: left;
    z-index: 0;
}

.home-navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.home-text{
    padding-right: 50px;
    padding-left: 10px;
    width: 100%; 
    max-width: 500px; 
    height: 200px;
    position: fixed;
    right: 0;
    bottom: 30px;
    text-align: justify;
}